<ion-header class ="green-bar">
  <ion-toolbar class ="green-bar">
    <ion-buttons slot="start">
      <ion-button (click)="navigateToMain()">
        <img src="assets/icon/logo.jpg" alt="Main" style="width: 50px; height: 50px;" />
      </ion-button>
      <ion-button (click)="navigateToUserPage()">
        <img src="assets/icon/usuario.png" alt="Usuario" style="width: 50px; height: 50px;" />
      </ion-button>
      <ion-button (click)="navigateToShopHistory()">
        <img src="assets/icon/historialCompra.png" alt="HistorialCompras" style="width: 60px; height: 60px;" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="navigeteToShoppingCart()">
        <img src="assets/icon/CarritoCompra.png" alt="Carrito" style="width: 50px; height: 50px;" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>