<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToUserPage()">
        <img src="assets/icon/usuario.png" alt="Usuario" style="width: 24px; height: 24px;" />
      </ion-button>
      <ion-button (click)="navigateToShopHistory()">
        <img src="assets/icon/historialCompra.png" alt="HistorialCompras" style="width: 24px; height: 24px;" />
      </ion-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Filtro por categoría -->
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select
      [(ngModel)]="searchTerm"
      (ionChange)="searchType(searchTerm)"
      placeholder="Seleccionar categoría"
    >
      <ion-select-option value="">Todas</ion-select-option>
      <ion-select-option value="Poleras">Poleras</ion-select-option>
      <ion-select-option value="Gorros">Gorros</ion-select-option>
      <ion-select-option value="Juguetería">Juguetería</ion-select-option>
      <ion-select-option value="Alimentación">Alimentación</ion-select-option>
      <ion-select-option value="Libros">Libros</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Botones para ordenar productos -->
  <div class="sort-buttons">
    <ion-button (click)="orderProducts('asc')" [fill]="order === 'asc' ? 'solid' : 'outline'">
      Ordenar Ascendente
    </ion-button>
    <ion-button (click)="orderProducts('desc')" [fill]="order === 'desc' ? 'solid' : 'outline'">
      Ordenar Descendente
    </ion-button>
  </div>

  <!-- Lista de productos -->
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <img [src]="product.imgURL" alt="{{ product.name }}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.productType }}</p>
        <p><strong>Precio:</strong> ${{ product.price }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Paginación -->
  <div class="pagination-buttons">  
    <ion-button (click)="previousPage()" [disabled]="currentPage <= 1">Anterior</ion-button>
    <ion-button (click)="nextPage()" [disabled]="currentPage == lastPage">Siguiente</ion-button>
  </div>
</ion-content>
